# Ignore target directory except IDL and TS
target/*
!target/types
!target/idl

# Keep existing ignores
.anchor
.DS_Store
**/*.rs.bk
node_modules
test-ledger
.yarn
pmp_modules/
pmp-lock.json
pmp-debug.log
.pmprc.local
